{% extends  'base.html' %}

{% load catalog_filters %}
{% load catalog_tags %}

{% block content %}
<style>
    .item{
    background: plum;
    width: 10%;
    float: left;
    padding: 5px;
    margin: 2%;
    }

    .item input.amount {
        width: 5em;
    }
</style>

<form action="{% url 'item_list' %}" method="GET">
    {{ item_sort_form.as_p }}
    {{ item_filter_form.as_p }}
    <input type="submit" value="Сортировать" />
</form>

{% for item in items %}
<div class="item">
<a href="{% url 'item_detail' pk=item.pk %}">
    <p>Name: {{ item.name }}</p>
    <p>Price: {{ item.price }}</p>
    <p>Presence: {{ item | instock:":-)|:-(" }}</p>
</a>
    {% add_to_cart_form_simple item %}
</div>

{% endfor %}


{% endblock %}